<div class="g g--masonry-2-to3-up">

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/450/200/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/350/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/452/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/250/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/450/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/250/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/555/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/275/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/520/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/310/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/390/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

  <div class="g__item">
    <div class="block">
      <img src="http://lorempixel.com/g/400/550/" alt="" class="block__img" />
      <h2 class="block__title">Lorem ipsum dolar semet</h2>
    </div><!--end block-->
  </div><!--end g__item-->

</div><!--end g-->

<section>
  New Section stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odio consequuntur corrupti facilis perferendis quo quaerat fugiat maxime libero corporis, accusantium saepe, repellendus ratione odit impedit, explicabo mollitia veritatis, nulla.
</section>
